h1 {
  text-transform: uppercase;
}

h2,
h3 {
  margin: 1rem 0 0.5rem 0;
}

p {
  margin: 0.5rem 0;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #504f4f;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 1rem 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #25e9a1;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.footer {
  margin-top: 4rem;
  border-top: 1em solid #222121;
}

.footer img {
  margin-top: 1rem;
  height: 3em;
}
